<%- include('shells/master-header') -%>
<div class="moo-login-page">
  <h1>Play Now</h1>
  <div class="tabbed-panel">
    <% //console.log(connectAnywhere) %>
    <% if (connectAnywhere) { %>
    <div id="address_panel" class="tab-panel">
      <h2 style="color: #eeeeee">Connect To ...</h2>
      <div class="field-group">
        <label for="moo-hostname">HOSTNAME</label>
        <input id="moo-hostname" type="text" name="hostname" value="<%= mooHostname %>" /><br>
        <label for="moo-port">PORT</label>
        <input id="moo-port" type="number" name="port" value="<%= mooPort %>" min="23" max="65535" step="1"/>
      </div>
      <div class="relative-group">
        <a href="/client-options/" class="btn">Options</a>
        <input class="btn btn-success pull-right" id="connect_now" type="submit" name="connect_now" value="Connect Now">
      </div>
    </div>
    <% } %>
    <% if (!connectAnywhere) { %>
    <div id="address_panel" class="tab-panel">
      <h2 style="color: #eeeeee">Connect To ...</h2>
      <div class="field-group">
        <label for="moo-hostname">HOSTNAME</label>
        <span><%= mooHostname %></span>
        <br />
        <label for="moo-port">PORT</label>
        <span><%= mooPort %></span>
      </div>
      <div class="relative-group">
        <a href="/client-options/" class="btn">Options</a>
        <input class="btn btn-success pull-right" id="connect_now" type="submit" name="connect_now" value="Connect Now">
      </div>
    </div>
        <input id="moo-hostname" type="hidden" name="hostname" value="<%= mooHostname %>" />
        <input id="moo-port" type="hidden" name="port" value="<%= mooPort %>" />
    <% } %>
  </div>

  <%
    if (stats && stats.count > 0) {
  %>
  <div class="connection-stats hidden-sm hidden-xs">
    <table>
      <tr class="table-header"><td class="count-column"><%=stats.count%></td><td>Connections Since Restart</td></tr>
      <%-partial('partial-gameinfo.ejs', stats.games)%>
    </table>
  </div>
  <%
    }
  %>
  <div class="version"><span><a href="https://github.com/JavaChilly/dome-client.js">dome-client.js</a> v<%=version%>p</span>, <span>&copy; <a href="https://www.sindome.org/">The Sindome Corporation</a> 1997-2025</span></div>
</spandiv>
<script src="<%=decache('/js/client-options.js')%>"></script>
<script src="<%=decache('/js/client-connect.js')%>"></script>
<%- include('shells/master-footer') -%>
